body {
  background-color: lightgreen;
}
<h1
  style="color:lightpink; text-align:center;"
  > This
  is
  a
  heading</h1
  > <p
  style="color:red;"
  > This
  is
  paragraph.</p
  > p {
  font-weight: bold;
  font-size: 20px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
